@using LabourCommissioner.Abstraction.ViewDataModels;
@using System.Web
@using LabourCommissioner.Common.Utility
@model GLWBLSY_SchemeDetails
@{
    var TabSequenceNo = ViewBag.TabSequenceNo;
    var ServiceId = ViewBag.ServiceId;
    var ApplicationId = ViewBag.ApplicationId;
    var isfilled = ViewBag.isFilled;
    var year = ViewBag.Year;
    var ApplicationNo = "";

    var isFilled = ViewBag.isFilled;
    //if (isfilled == true)
    //{
    //    ApplicationNo = Model.ApplicationNo;
    //}
    long Totalsahay = 0;
    if (Model != null)
    {
        Totalsahay = Model.totalsahay;
    }

}


<form id="schemeDetailsForm" enctype="multipart/form-data" method="post" asp-controller="GLWBLaptopSubsidyYojna" asp-action="AddSchemeDetails">
    <input type="hidden" asp-for="TabSequenceNo" value="@TabSequenceNo" />
    <input type="hidden" asp-for="ApplicationId" value="@ApplicationId" />
    <input type="hidden" asp-for="ServiceId" value="@ServiceId" />
    <input type="hidden" asp-for="totalsahay" id="Totalsahay" value="@Totalsahay" />
    <input type="hidden" asp-for="coursename" id="course_name" />
    <div class="tab-pane fade show" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
        @*<div class="text-danger" asp-validation-summary="All"></div>*@

        <fieldset class="custom-fieldset mb-4">
            <legend>યોજનાની વિગત</legend>

            <div class="form-horizontal form-bordered">
                <div class="form-group row">
                    <span class="control-label col-md-3">ધો-૧૨ પરીક્ષા આપ્યા માસ તથા વર્ષ : <span class="text-danger">*</span></span>
                    <div class="control-form col-md-3 d-flex">
                        @* <select asp-for="Standard" asp-items="@(new SelectList(@ViewBag.Standard, "Value", "Text"))" class="form-control me-1" disabled="disabled">
                        </select>*@
                        @Html.DropDownListFor(model => model.ExamMonth, Enumerable.Range(1, 12).Select(x => new SelectListItem { Value = x.ToString(), Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(x) }), "Select Month", new { @class = "form-control" })

                        <span asp-validation-for="ExamMonth" class="text-danger"></span>

                        <select asp-for="ExamYear" asp-items="@(new SelectList(@ViewBag.Year, "Value", "Text"))" class="form-control me-1" required>
                            <option value="">--Select--</option>
                        </select>
                        <span asp-validation-for="ExamYear" class="text-danger"></span>

                    </div>
                    <span class="control-label col-md-3">ધોરણ ૧૨ માં મેળવેલ પર્સન્ટાઇલ (ઓવર ઓલ): <span class="text-danger">*</span></span>
                    <div class="control-form col-md-3">
                        <input asp-for="Percentage" type="text" class="form-control">
                        <span asp-validation-for="Percentage" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    @* <span class="control-label col-md-3">
                    વિદ્યાર્થીના વાલી જે કારખાના સંસ્થામાં કામ કરે છે તે સંસ્થાને
                    અત્રેની કચેરી દ્વારા આપવામાં આવેલ લેબર વેલ્ફેર ફંડ એકાઉન્ટ નંબર <span class="text-danger">*</span>
                    </span>
                    <div class="control-form col-md-3 mt-4">
                    <input type="text" asp-for="ENirmanCardNo" class="form-control">
                    <span asp-validation-for="ENirmanCardNo" class="text-danger"></span>
                    </div>*@
                    @*<span class="control-label col-md-3">
                    વિદ્યાર્થીનો આધાર કાર્ડ નંબર : <span class="text-danger">*</span>
                    </span>*@
                    @* <div class="control-form col-md-3 d-flex">
                    <input asp-for="StudentAadharCardNo" type="text" class="form-control" maxlength="12">
                    <span asp-validation-for="StudentAadharCardNo" class="text-danger"></span>
                    </div>*@
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3 ">અભ્યાસક્રમનું નામ :</span>
                    <div class="control-form col-md-3">
                        <select id="coursename" asp-for="courseid" asp-items="@(isfilled == true ? new SelectList(@ViewBag.Degree, "Value", "Text", selectedValue:@ViewBag.CourseId) : null)" class="form-control">
                        </select>
                        @*<input asp-for="coursename" type="text" class="form-control">
                        <span asp-validation-for="coursename" class="text-danger"></span>*@
                    </div>
                    <span id="body_innerbody_lblAmount" class="control-label col-md-3 ">અભ્યાસક્રમ માટે સંલગ્ન યુનિવર્સિટી:<span class="text-danger">*</span></span>
                    <div class="control-form col-md-3 ">
                        <input asp-for="university" id="university" type="text" class="form-control">
                        <span asp-validation-for="university" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <span id="body_innerbody_lblBuyDate" class="control-label col-md-3 ">લેપટોપ ખરીદ કર્યા તારીખ :<span class="text-danger">*</span></span>
                    <div class="control-form col-md-3 ">
                        <input asp-for="buydate" type="text" class="form-control dateValidateCls datepicker" placeholder="dd/MM/yyyy" />
                        @*  <input  class="form-control datepicker" id="clsdatepicker" placeholder="dd/mm/yyyy" />*@
                        <span asp-validation-for="buydate" class="text-danger"></span>
                        <span id="body_innerbody_reqtxtBuyDate" style="color: Red; display: none;">તારીખ પસંદ કરો.</span>
                    </div>
                    <span id="body_innerbody_lblBillNo" class="control-label col-md-3 ">લેપટોપ બીલ નંબર  :<span class="text-danger">*</span></span>
                    <div class="control-form col-md-3 ">
                        <input asp-for="billno" type="text" id="billno" onkeypress="return AllowAlphaNumeric(event);" class="form-control">
                        <span asp-validation-for="billno" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <span id="body_innerbody_lblAmount" class="control-label col-md-3 ">લેપટોપની કિંમત :<span class="text-danger">*</span></span>
                    <div class="control-form col-md-3 ">
                        <input asp-for="laptopamount" id="laptopamount" onblur="gettotalsahay();" type="text" class="form-control">
                        <span asp-validation-for="laptopamount" class="text-danger"></span>
                    </div>
                    <span id="body_innerbody_lblSerialNo" class="control-label col-md-3">લેપટોપ સીરીયલ નંબર :<span class="text-danger">*</span></span>
                    <div class="control-form col-md-3 ">
                        <input asp-for="laptopserialno" id="laptopserialno" type="text" class="form-control">
                        <span asp-validation-for="laptopserialno" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <span id="body_innerbody_lblSerialNo" class="control-label col-md-3">લેપટોપની કંપનીનું નામ :<span class="text-danger">*</span></span>
                    <div class="control-form col-md-3 ">
                        <input asp-for="laptopbrand" type="text" class="form-control">
                        <span asp-validation-for="laptopbrand" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </fieldset>


        <fieldset class="custom-fieldset mb-4">
            <legend id="body_innerbody_ucApplicantBankdetails_ucLegend">
                <span id="body_innerbody_ucApplicantBankdetails_lblLegend">વિદ્યાર્થીની બેંકની વિગતો</span>
            </legend>

            <partial name="~/Views/Shared/_GLWB_BankDetails.cshtml" />
        </fieldset>


        <div class="card-footer text-center border">
            <button class="btn btn-sm btn-primary pl-3 pr-3">Save</button>
            <button type="button" class="btn btn-sm btn-secondary pl-3 pr-3 mr-2" onClick="CancelOnScheme('@HttpUtility.UrlEncode(CommonUtils.Encrypt(@ServiceId))');">Cancel</button>
        </div>
    </div>

</form>
<script type="text/javascript">

    $(document).ready(function() {

        if ('@isFilled' == 'False') {
            GetCourse();

        }
    });

    $(function() {
        $("#billno").keyup(function() {
            if (this.value.match(/[^a-zA-Z0-9 ]/g)) {
                this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '');
            }
        });
    });

    $(function() {
        $("#laptopserialno").keyup(function() {
            if (this.value.match(/[^a-zA-Z0-9 ]/g)) {
                this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '');
            }
        });
    });


    $(function() {

        $('.datepicker').datepicker({
            changeMonth: true,
            changeYear: true,
            format: "dd/mm/yyyy",
            language: "local",
            todayHighlight: 'TRUE',
            autoclose: true
        });
    });

    function gettotalsahay() {
        debugger;
        var laptopamount = $("#laptopamount").val();
        var totalsahay = parseInt(laptopamount) / 2;
        if (totalsahay > 25000) {
            $('#Totalsahay').val(25000);
        }
        else {
            $('#Totalsahay').val(totalsahay);
        }

    }

    function GetCourse() {
        debugger;
        var subjectID = 10;
        $.ajax({
            type: "get",
            url: "/BOCWSikshanSahayYojana/GetSubject",
            data: { subjectId: subjectID },
            datatype: "json",
            traditional: true,
            success: function(data) {
                debugger;
                var DegreeList = "";
                DegreeList = DegreeList + '<option value="">--Select--</option>';
                for (var i = 0; i < data.data.result.length; i++) {
                    DegreeList = DegreeList + '<option value=' + data.data.result[i].value + '>' + data.data.result[i].text + '</option>';
                }
                $('#coursename').html(DegreeList);

            }
        });
    }

    $("#coursename").change(function() {
        $("#course_name").val($("#coursename option:selected").text());
    });


</script>
