﻿@using LabourCommissioner.Abstraction.DataModels
@using LabourCommissioner.Abstraction.ViewDataModels
@using LabourCommissioner.Common
@using Newtonsoft.Json
@using System.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using LabourCommissioner.Common.Utility
@using System.Security.Claims
@model GLWB_TSYClaim_personalDetails
@{

    var identity = (ClaimsIdentity)User.Identity;
    IEnumerable<Claim> claims = identity.Claims;
    var RegistrationNo = identity.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault();
    var UserName = claims.FirstOrDefault(x => x.Type.Equals("DisplayName", StringComparison.OrdinalIgnoreCase))?.Value;
    var model = ViewBag.States;
    var TabSequenceNo = ViewBag.TabSequenceNo;
    var ServiceId = ViewBag.ServiceId;
    var ClaimApplicationId = ViewBag.ClaimApplicationId;
    var ApplicationId = ViewBag.ApplicationId;
    bool isfilled = ViewBag.isFilled;
    var lwbaccountno = ViewBag.lwbaccountno;
    //var image = ViewBag.Image;
    //var CD = Model.CDistrictId;
    var ApplicationNo = "";
    //string imgSrc = "";
    //int val = 7;
    if (isfilled == true)
    {
        ApplicationNo = Model.ApplicationNo;

    }

    //var base64 = Convert.ToBase64String(Model.ByteArray);



}
<div class="tab-pane fade show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

    @*
    ---------------------------------------------------------------------શ્રમિક ઓળખ કાર્ડની વિગતો---------------------------------------------------------------------------------------------------
    *@
    <form id="personalDetailsForm" enctype="multipart/form-data" method="post" asp-controller="GLWBTabibiSahayClaimyojnas" asp-action="AddUpdateApplication" asp-route-strTabId=@TabSequenceNo asp-route-strApplicationNo="@ApplicationNo">
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <input type="hidden" asp-for="ServiceId" id="hdnServiceId" value="@ServiceId" />
        <input type="hidden" asp-for="TabSequenceNo" id="hdnServiceId" value="@TabSequenceNo" />
        <input type="hidden" asp-for="ClaimApplicationId" value="@ClaimApplicationId" />
        <input type="hidden" asp-for="ApplicationId" value="@ApplicationId" />
        <input type="hidden" asp-for="companyname" value="@Model.companyname" />
        <input type="hidden" asp-for="address" value="@Model.address" />
        <input type="hidden" asp-for="district" value="@Model.district" />
        <input type="hidden" asp-for="taluka" value="@Model.taluka" />
        <input type="hidden" asp-for="city" value="@Model.city" />
        <input type="hidden" asp-for="emailid" value="@Model.emailid" />
        <input type="hidden" asp-for="pincode" value="@Model.pincode" />
        <input type="hidden" asp-for="LwbAccountNo" value="@lwbaccountno" />
        <input type="hidden" asp-for="districtid" value="@Model.districtid" />
        @*<input type="hidden" asp-for="LwbAccountNo" value="@Model.LwbAccountNo" />*@

        @*
        --------------------------------------------------------------------------અરજદારની માહિતી---------------------------------------------------------------------------------------------------
        *@
        <style>
            .rb_disabled {
                pointer-events: none;
            }

        </style>
        <fieldset class="custom-fieldset mb-4">
            <legend>
                સંસ્થાની વિગત
            </legend>
            <div class="row rb_disabled">
                <div class="col-md-12">

                    <div class="form-horizontal form-bordered">
                        <div class="form-group row border-0">
                            <div class="col-md-12 p-0 align-self-center">
                                <div class="form-group row">
                                    <span class="control-label col-md-3">
                                        શ્રમિક નું નામ :  <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">
                                        @*<input name="txtShramikName" type="text" disabled="disabled" value="Akshay Pandya" maxlength="100" id="body_innerbody_ " class="form-control">*@
                                        @UserName
                                    </div>
                                    <span class="control-label col-md-3">
                                        શ્રમિક ઓળખ કાર્ડ નંબર :  <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">
                                        @RegistrationNo
                                        @*<input name="txtShramikIdentityNo" type="text" disabled="disabled" value="123456789" maxlength="100" id="body_innerbody_txtShramikCardNo" class="form-control">*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <span class="control-label col-md-3">
                                        સંસ્થાનું સરનામું : <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">
                                        @Html.DisplayFor(item => item.address)
                                    </div>
                                    <span class="control-label col-md-3">
                                        શહેર : <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">

                                        @Html.DisplayFor(item => item.city)
                                    </div>
                                </div>
                                <div class="form-group row">

                                    <span class="control-label col-md-3">
                                        જિલ્લાનું નામ : <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">
                                        @Html.DisplayFor(item => item.district)
                                        <span id="body_innerbody_ucApplicantAddress_ReqddlDistrict" class="text-danger" style="display: none;">જિલ્લાનું નામ પસંદ કરો.</span>

                                    </div>

                                    <span class="control-label col-md-3">
                                        તાલુકાનું નામ : <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">
                                        @Html.DisplayFor(item => item.taluka)
                                        <span id="body_innerbody_ucApplicantAddress_ReqddlTaluka" class="text-danger" style="display: none;">તાલુકાનું નામ પસંદ કરો.</span>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <span class="control-label col-md-3">
                                        પીનકોડ : <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">
                                        @Html.DisplayFor(item => item.pincode)
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="custom-fieldset mb-4">
            <legend>
                હોસ્પિટલની વિગત
            </legend>
            <div class="row">
                <div class="col-md-12">

                    <div class="form-horizontal form-bordered">
                        <div class="form-group row border-0">
                            <div class="col-md-12 p-0 align-self-center">
                                <div class="form-group row">
                                    <span class="control-label col-md-3">
                                        હોસ્પિટલનું નામ: <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">
                                        <input asp-for="hospitalname" class="aspNetDisabled form-control" readonly>
                                        <span asp-validation-for="hospitalname" class="text-danger"></span>
                                    </div>
                                    <span class="control-label col-md-3">
                                        હોસ્પિટલનું સરનામું : <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">
                                        <input asp-for="hospitaladdress" class="aspNetDisabled form-control">
                                        <span asp-validation-for="hospitaladdress" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <span class="control-label col-md-3">
                                        હોસ્પિટલનો ઈમેલ : <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">

                                        <input asp-for="hospitalemailid" class="aspNetDisabled form-control">
                                        <span asp-validation-for="hospitalemailid" class="text-danger"></span>
                                    </div>
                                    <span class="control-label col-md-3">
                                        હોસ્પિટલનો મોબાઇલ નંબર : <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">
                                        <input asp-for="hospitalmobile" onkeypress="return AllowNumeric(event);" class="aspNetDisabled form-control">
                                        <span asp-validation-for="hospitalmobile" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <span class="control-label col-md-3">
                                        હોસ્પિટલનો પીનકોડ : <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">

                                        <input asp-for="hospitalpincode" onkeypress="return AllowNumeric(event);" class="aspNetDisabled form-control">
                                        <span asp-validation-for="hospitalpincode" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="custom-fieldset mb-4">
            <legend id="body_innerbody_ucApplicantBankdetails_ucLegend">
                <span id="body_innerbody_ucApplicantBankdetails_lblLegend">બેંકની વિગતો</span>
            </legend>

            <partial name="~/Views/Shared/_GLWB_BankDetails.cshtml" />
        </fieldset>

        <div class="card-footer text-center border">
            <button type="submit" class="btn btn-sm btn-primary pl-3 pr-3">Save</button>
            <button type="button" class="btn btn-sm btn-secondary pl-3 pr-3 mr-2" onClick="CancelOnScheme('@HttpUtility.UrlEncode(CommonUtils.Encrypt(@ServiceId))');">Cancel</button>
        </div>


        @if (ViewData["IsBankVisible"] != null && ViewData["IsBankVisible"].ToString() == "True")
        {
            <fieldset class="custom-fieldset mb-4">
                <legend id="body_innerbody_ucApplicantBankdetails_ucLegend">
                    <span id="body_innerbody_ucApplicantBankdetails_lblLegend">@ViewData["BankDetails"] બેંકની વિગતો</span>
                </legend>
                <div class="text-left">
                    <span class="text-danger font-weight-bolder">
                        <small>
                            <b id="">નોંધ : લાભાર્થીના લાભ માટે બેંકની વિગત ફરજીયાત છે.</b> <br>

                        </small>
                    </span>
                </div>
                <br>
                <div class="form-horizontal form-bordered">

                    <div class="form-group row">
                        <span class="control-label col-md-3">
                            બેંકનું નામ :   <span class="text-danger">*</span>
                        </span>
                        <div class="control-form col-md-3">
                            <input name="ctl00$ctl00$body$innerbody$ucApplicantBankdetails$txtBankName" type="text" value="Union Bank" id="body_innerbody_ucApplicantBankdetails_txtBankName" class="form-control">

                            <span id="body_innerbody_ucApplicantBankdetails_regtxtBankName" style="color:Red;display:none;">બેંક નું નામ બરાબર લખો </span>
                        </div>
                        <span class="control-label col-md-3">
                            શાખાનું નામ :   <span class="text-danger">*</span>
                        </span>
                        <div class="control-form col-md-3">
                            <input name="ctl00$ctl00$body$innerbody$ucApplicantBankdetails$branchName" type="text" value="Rajpipla" id="body_innerbody_ucApplicantBankdetails_branchName" class="form-control">

                            <span id="body_innerbody_ucApplicantBankdetails_RegbranchName" style="color:Red;display:none;">બેંક ની શાખાનું નામ બરાબર લખો </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <span class="control-label col-md-3">
                            IFSC કોડ નંબર:  <span class="text-danger">*</span>
                        </span>
                        <div class="control-form col-md-3">
                            <input name="ctl00$ctl00$body$innerbody$ucApplicantBankdetails$txtIFSCCode" type="text" value="IFSCIN01252" maxlength="11" id="body_innerbody_ucApplicantBankdetails_txtIFSCCode" class="form-control">

                            <span id="body_innerbody_ucApplicantBankdetails_RetxtIFSCCode" style="color:Red;display:none;">બેંક નો આઇ.એફ.એસ.સી નંબર સાચો નાખો.</span>
                        </div>
                        <span class="control-label col-md-3">
                            બેંક એકાઉન્ટ નંબર : <span class="text-danger">*</span>
                        </span>
                        <div class="control-form col-md-3">
                            <input name="ctl00$ctl00$body$innerbody$ucApplicantBankdetails$txtBankACNo" type="text" value="2562352352" maxlength="20" id="body_innerbody_ucApplicantBankdetails_txtBankACNo" class="form-control">

                        </div>
                    </div>
                </div>
                <br>
            </fieldset>
        }

    </form>
</div>

<script type="text/javascript" src="lib/jqueryui/jquery-ui.js"></script>
<link href="lib/jqueryui/themes/base/jquery-ui.min.css" />
<link href="lib/jqueryui/themes/base/theme.min.css" />
