@using LabourCommissioner.Abstraction.ViewDataModels;
@using System.Web
@using LabourCommissioner.Common.Utility
@model IEnumerable<BOCW_TBSYClaim_personalDetails>
@{
    var TabSequenceNo = ViewBag.TabSequenceNo;
    var ServiceId = ViewBag.ServiceId;
    var ApplicationId = ViewBag.ApplicationId;
    var isfilled = ViewBag.isFilled;
    var ApplicationNo = "";
    var Totalsahay = ViewBag.TotalSahay;
    var isFilled = ViewBag.isFilled;
}

<style>
    .myRadioButtonList input {
        padding-right: 5px;
        padding-left: 30px;
        padding-bottom: 0;
        padding-top: 0px;
        margin-top: 10px;
        display: inline;
    }

    .myRadioButtonList label {
        margin-left: 26px;
        padding-right: 25px;
        padding-left: 5px;
        padding-bottom: 0;
        padding-top: 0px;
        margin-top: -16px;
        display: inline;
    }
</style>
<form id="schemeDetailsForm" enctype="multipart/form-data" method="post" asp-controller="BOCWTabibiSahayYojanaClaim" asp-action="AddSchemeDetails">
    @*<input type="hidden" asp-for="TabSequenceNo" value="@TabSequenceNo" />
    <input type="hidden" asp-for="ApplicationId" value="@ApplicationId" />
    <input type="hidden" asp-for="ServiceId" value="@ServiceId" />*@
    @*<input type="hidden" asp-for="totalsahay" value="@Totalsahay" />*@
    <div class="tab-pane fade show" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">

        <fieldset class="custom-fieldset mb-4">
            <legend>કામદારોની વિગતો કે જેના ચેકઅપ પૂર્ણ થયા છે</legend>
            <div class="form-horizontal form-bordered">
                <div class="form-group row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped DataTable table-sm">
                            <thead>
                                <tr>
                                    <th>Application No.</th>
                                    <th>Enirman Card No</th>
                                    <th>Application Date</th>
                                    <th>Name</th>
                                    <th>District Name</th>
                                    <th>Pincode</th>
                                    <th>Mobile No.</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    @foreach (BOCW_TBSYClaim_personalDetails item in Model)
                                    {
                                        <tr>
                                            <td>@item.ApplicationNo</td>
                                            <td>@item.ENirmanCardNo</td>
                                            <td>@item.applicationdate</td>
                                            <td>@item.registrationname</td>
                                            <td>@item.caddressineng</td>
                                            <td>@item.cpincode</td>
                                            <td>@item.mobileno</td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>

            <div class="form-group form-check text-center">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="isagree" data-val="false" />
                    હું ઉપરની બધી શરતો થી સહેમત છું.
                </label>
                @*<span asp-validation-for="isagree" class="text-danger"></span>*@
            </div>

        </fieldset>
        @*<fieldset class="custom-fieldset mb-4">
        <legend id="body_innerbody_ucApplicantBankdetails_ucLegend">
        <span id="body_innerbody_ucApplicantBankdetails_lblLegend">બેંકની વિગતો</span>
        </legend>
        <partial name="~/Views/Shared/_BankDetails.cshtml" />
        </fieldset>*@
        <div class="card-footer text-center border">
            <button class="btn btn-sm btn-primary pl-3 pr-3" id="btnSubmit" type="submit">Save</button>
            <button type="button" class="btn btn-sm btn-secondary pl-3 pr-3 mr-2" onClick="CancelOnScheme('@HttpUtility.UrlEncode(CommonUtils.Encrypt(@ServiceId))');">Cancel</button>
        </div>

    </div>
</form>
<script type="text/javascript">

    $(document).ready(function () {
        $("#btnSubmit").click(function (e) {
            debugger;
            if (!($('#isagree').prop('checked'))) {
                alert('Accept The Terms and Conditions');
                return false;
            }
        });
    });

</script>


